<a href="https://colab.research.google.com/github/sungleecapc/cv/blob/main/0_Begin__Demo_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **An Analysis of Kiva Crowdfunded Loans** 

###### *Cory Stahle: Udemy Course Project Demo*
---

![micheile-henderson-lZ_4nPFKcV8-unsplash (1).jpg]()

<span>Photo by <a href="https://unsplash.com/@micheile?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Micheile Henderson</a> on <a href="https://unsplash.com/s/photos/money?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>

<br><br>

***Project structure:***


1.   Define the objective
2.   Import packages and data
3.   Explore and clean
4.   Analyze

<br>

## **Objective**
---

*Analyze the [Kiva.org](https://www.kiva.org/) lending platform. Understand how much money has been borrowed, for what purpose, and where the borrowers live.*

<br>

In particular, we want to answer the following groups of questions:



1.   How much money has been borrowed through Kiva's lending platform? How has the amount of funding changed over time?
2.   How much funding has been provided by category (theme)?
3.   How does funding vary by world region? What are the most popular themes in each region?

<br><br>

## **Import Packages and Data**
---


The data for this project comes from [Kaggle.com](https://www.kaggle.com/kiva/data-science-for-good-kiva-crowdfunding). It includes information about loans funded between January 1, 2016 and July 26th, 2017.

The data is also stored on the GitHub page for the course [here](https://github.com/The-Calculated-Life/python_analysis_for_excel/tree/main/data)

In [1]:
!pip install squarify

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting squarify
  Downloading squarify-0.4.3-py3-none-any.whl (4.3 kB)
Installing collected packages: squarify
Successfully installed squarify-0.4.3

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import squarify

plt.rcParams['figure.figsize'] = [12,6]

<br><br>

## **Explore and Clean Data**
---

### Kiva_loans dataframe

In [4]:
kiva_loans_path='https://raw.githubusercontent.com/The-Calculated-Life/python_analysis_for_excel/main/data/kiva_loans.csv'
locations_path='https://raw.githubusercontent.com/The-Calculated-Life/python_analysis_for_excel/main/data/kiva_mpi_region_locations.csv'

kiva_loans = pd.read_csv(kiva_loans_path)
locations = pd.read_csv(locations_path)

In [7]:
kiva_loans.head()

,id,funded_amount,loan_amount,activity,sector,country_code,country,region,currency,partner_id,term_in_months,lender_count,repayment_interval,date
0,1002924,500,500,Rickshaw,Transportation,PK,Pakistan,Multan,PKR,247.0,14,1,monthly,1/1/2016
1,1002908,500,500,Rickshaw,Transportation,PK,Pakistan,Lahore,PKR,247.0,11,1,irregular,1/1/2016
2,1002897,500,500,Fruits & Vegetables,Food,PK,Pakistan,Multan,PKR,247.0,15,17,monthly,1/1/2016
3,1002916,500,500,Clothing Sales,Clothing,PK,Pakistan,Lahore,PKR,247.0,11,16,irregular,1/1/2016
4,1002891,575,575,Fruits & Vegetables,Food,PK,Pakistan,Lahore,PKR,247.0,11,21,irregular,1/1/2016

In [6]:
kiva_loans.shape

(315138, 14)

In [8]:
kiva_loans.isnull().sum()

id                        0
funded_amount             0
loan_amount               0
activity                  0
sector                    0
country_code              4
country                   0
region                16367
currency                  0
partner_id             3070
term_in_months            0
lender_count              0
repayment_interval        0
date                      0
dtype: int64

In [9]:
kiva_loans['date']=pd.to_datetime(kiva_loans['date'])
kiva_loans=kiva_loans.set_index('date')

In [11]:
kiva_loans.head()

,id,funded_amount,loan_amount,activity,sector,country_code,country,region,currency,partner_id,term_in_months,lender_count,repayment_interval
date,,,,,,,,,,,,,
2016-01-01,1002924,500,500,Rickshaw,Transportation,PK,Pakistan,Multan,PKR,247.0,14,1,monthly
2016-01-01,1002908,500,500,Rickshaw,Transportation,PK,Pakistan,Lahore,PKR,247.0,11,1,irregular
2016-01-01,1002897,500,500,Fruits & Vegetables,Food,PK,Pakistan,Multan,PKR,247.0,15,17,monthly
2016-01-01,1002916,500,500,Clothing Sales,Clothing,PK,Pakistan,Lahore,PKR,247.0,11,16,irregular
2016-01-01,1002891,575,575,Fruits & Vegetables,Food,PK,Pakistan,Lahore,PKR,247.0,11,21,irregular

<br><br>

### **locations dataframe**

<br><br>


## **Analysis**
---

In [12]:
locations.head()

,LocationName,ISO,country,region,world_region,MPI,geo,lat,lon
0,"Badakhshan, Afghanistan",AFG,Afghanistan,Badakhshan,South Asia,0.387,"(36.7347725, 70.81199529999999)",36.734772,70.811995
1,"Badghis, Afghanistan",AFG,Afghanistan,Badghis,South Asia,0.466,"(35.1671339, 63.7695384)",35.167134,63.769538
2,"Baghlan, Afghanistan",AFG,Afghanistan,Baghlan,South Asia,0.300,"(35.8042947, 69.2877535)",35.804295,69.287754
3,"Balkh, Afghanistan",AFG,Afghanistan,Balkh,South Asia,0.301,"(36.7550603, 66.8975372)",36.755060,66.897537
4,"Bamyan, Afghanistan",AFG,Afghanistan,Bamyan,South Asia,0.325,"(34.8100067, 67.8212104)",34.810007,67.821210

In [14]:
locations.shape

(2772, 9)

In [13]:
locations.isnull().sum()

LocationName    1788
ISO             1764
country         1764
region          1788
world_region    1764
MPI             1788
geo                0
lat             1880
lon             1880
dtype: int64

In [16]:
locations[(locations['world_region'].isnull())&(locations['country'].notnull())]

Empty DataFrame
Columns: [LocationName, ISO, country, region, world_region, MPI, geo, lat, lon]
Index: []

In [17]:
locations = locations.dropna()

In [18]:
locations.head()

,LocationName,ISO,country,region,world_region,MPI,geo,lat,lon
0,"Badakhshan, Afghanistan",AFG,Afghanistan,Badakhshan,South Asia,0.387,"(36.7347725, 70.81199529999999)",36.734772,70.811995
1,"Badghis, Afghanistan",AFG,Afghanistan,Badghis,South Asia,0.466,"(35.1671339, 63.7695384)",35.167134,63.769538
2,"Baghlan, Afghanistan",AFG,Afghanistan,Baghlan,South Asia,0.300,"(35.8042947, 69.2877535)",35.804295,69.287754
3,"Balkh, Afghanistan",AFG,Afghanistan,Balkh,South Asia,0.301,"(36.7550603, 66.8975372)",36.755060,66.897537
4,"Bamyan, Afghanistan",AFG,Afghanistan,Bamyan,South Asia,0.325,"(34.8100067, 67.8212104)",34.810007,67.821210

In [19]:
locations.shape

(892, 9)

### **Q. How much money has been borrowed through Kiva's lending platform?**

<br><br>

### **Q. How has the amount of funding changed over time?**

<br><br>

### **Q. How much funding has been provided by sector?**

<br><br>

### **Q. How does funding vary by world region?**

In [ ]:
colors = [(0.953125720876586, 0.9822068435217225, 0.9426989619377163, 1.0),
 (0.12110726643598617, 0.5312572087658592, 0.2590542099192618, 1.0),
 (0.9686274509803922, 0.9882352941176471, 0.9607843137254902, 1.0),
 (0.0, 0.26666666666666666, 0.10588235294117647, 1.0),
 (0.9664129181084199, 0.9873740868896579, 0.9582006920415225, 1.0),
 (0.4798154555940023, 0.7802537485582468, 0.48322952710495964, 1.0)]

<br><br>

### **Q. What are the most popular sectors in each region?**